$primary-font: 'Montserrat';
$secondary-font: 'Inconsolata';
$break-small: 442px;
$break-medium: 768px;


@mixin anim {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@keyframes feature-animation {
    0% {
        opacity: 0;
        transform: translate3d(0,10px,0);


    }

    75% {
      opacity: 0;
      transform: translate3d(0,10px,0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
html{
  overflow-x:hidden;
}
body{
  font-family: $primary-font;
}

#mainchild{
  animation: feature-animation .75s ease-in-out;
  -webkit-animation: feature-animation .75s ease-in-out;
  -moz-animation: feature-animation .75s ease-in-out;
}

.stickyNavBar{
  padding-top:20px;
}

.subtitle{
  font-family:$secondary-font;
  font-size:30px;
}

.description-question{
  font-size:30px;
  text-align:left;

  p{
    font-size:25px;
    font-family: $secondary-font;
  }

}

.info-sections{
  margin-top:5%;
}

.about-section{
  width:90vw;
  margin-left:5%;

  h2{
    text-align:center;
  }

}

.about-info{
  display:inline-block;
  width:100%;
  vertical-align:top;
  text-align:inherit !important;
  p{
    font-size:25px;
    font-family: $secondary-font !important;
    line-height: 3rem;
  }

  h3{
    text-decoration:underline;
  }

  &:last-child{
    font-size:25px;
    margin-top:20px;

    p{
      font-family:'Helvetica';
    }

  }

}

.blog-list{
  h3{
    margin-left: 12.5vw;
    margin-top: 60px;
    font-weight:bold;
    font-size:30px;
  }
}

.blog-item-info{
  img {
    @include anim;
    position: relative;
    margin-bottom:20px;
  }
  img:hover {
      box-shadow: 5px 5px 0 #9E9E9E;
    }
}

.header-section{
  height:40vh;
  background: #fafafa;
  position:relative;

  &::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('../assets/about.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    z-index:1;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

   h2{
  	margin-top: 15px;
  	font-size: 60px !important;
  	padding-top: 12vh;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
  }

}

#exec{

  margin-left:80px;

  #allen{
    width:350px;
    display: inline-block;
    margin-left:25.5%;

    img{
      margin-left:5%;
    }

  }
  img{
    width:150px;
    height:150px;
    border-radius:100%;
    vertical-align: top;
  }
  .execMembers{
    width:450px;
    // display:inline-block;
  }

}
#teamMembers{

  @media screen and (max-width:$break-small){
    height: 100vh !important;
  }

}

#apply-button{
  @include anim;
  border-radius:40px;
  background-color:#FFF;
  color:black;
  margin-top:20px;
  margin-left:42.5%;
  width:161px;
  height:50px;
  letter-spacing:1px;
  border:2px;
  font-size:20px;
  text-align:center;
  // padding: 10px 20px;

  &:hover{
    background-color:black;
    color:#FFF;
  }
  @media only screen and (max-device-width: 480px){
    margin-left:32.67%;

  }

}

#apply-nav{
  @include anim;
  border-radius: 300px;
  border: 2px solid #fff;
  padding: .5em 1em;

  &:hover{
    background-color:#fafafa;
    color: rgb(25,30,40);
  }

}
